# Assignment1- Beautiful Soup

In [15]:
#Importing necessary libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [3]:
#Q1.Python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
print(page) #To check if data can be extracted form site
soup=BeautifulSoup(page.content)
#print(soup.prettify) #Function to see organised web page source code
print("List of all the h1, h2, h3 :")
for heading in soup.find_all(["h1", "h2", "h3"]):
    print(heading.name + ' ' + heading.text.strip())

<Response [200]>
List of all the h1, h2, h3 :
h1 Main Page
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Variants
h3 Views
h3 More
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

In [4]:
#Q2.Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.
#User Defined Function
def extract_data(url):
    page=requests.get(url) 
    #print(page)
    soup=BeautifulSoup(page.text,'lxml') 

    #Extract movie name
    header=soup.find_all('h3',class_="lister-item-header")
    movie_name=[] #Empty list for storage
    for movie_title in header: # Loop to access the list/more text elements
        for j in movie_title.find_all("a"):
            movie_name.append(j.text.replace("\n"," "))   
        
    #Extract year of release
    header=soup.find_all('h3',class_="lister-item-header")
    yor=[] #Empty list for storage
    for year in header:
        release_year = year.find(class_="lister-item-year")
        yor.append(release_year.get_text().strip("()"))
    
    #Extract Ratings
    header1=soup.find_all('div',class_="inline-block ratings-imdb-rating")
    ratings=[]
    for rating in header1:
        for j in rating.find_all("strong"):
            ratings.append(j.text)
    
    #print(movie_name,len(movie_name))
    #print(yor,len(yor))
    #print(ratings,len(ratings))
    data={"Movie Name":movie_name,"IMDB Rating":ratings,"Year of release":yor}
    return (data)

#Call function:
#Url
movie_1to50="https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv"
movie_51to100="https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt"

data1=pd.DataFrame(extract_data(movie_1to50))
data2=pd.DataFrame(extract_data(movie_51to100))
data1=data1.append(data2,ignore_index=True)
pd.set_option("display.max_rows",None)
data1

,Movie Name,IMDB Rating,Year of release
0,The Shawshank Redemption,9.3,1994
1,The Godfather,9.2,1972
2,The Dark Knight,9.0,2008
3,The Godfather: Part II,9.0,1974
4,12 Angry Men,9.0,1957
5,The Lord of the Rings: The Return of the King,8.9,2003
6,Pulp Fiction,8.9,1994
7,Schindler's List,8.9,1993
8,Inception,8.8,2010
9,Fight Club,8.8,1999
10,The Lord of the Rings: The Fellowship of the Ring,8.8,2001
11,Forrest Gump,8.8,1994
12,"Il buono, il brutto, il cattivo",8.8,1966
13,The Lord of the Rings: The Two Towers,8.7,2002
14,The Matrix,8.7,1999
15,Goodfellas,8.7,1990
16,Star Wars: Episode V - The Empire Strikes Back,8.7,1980
17,One Flew Over the Cuckoo's Nest,8.7,1975
18,Gisaengchung,8.6,2019
19,Interstellar,8.6,2014
20,Cidade de Deus,8.6,2002
21,Sen to Chihiro no kamikakushi,8.6,2001
22,Saving Private Ryan,8.6,1998
23,The Green Mile,8.6,1999
24,La vita è bella,8.6,1997
25,Se7en,8.6,1995
26,The Silence of the Lambs,8.6,1991
27,Star Wars,8.6,1977
28,Seppuku,8.6,1962
29,Shichinin no samurai,8.6,1954
30,It's a Wonderful Life,8.6,1946
31,Hamilton,8.5,2020
32,Whiplash,8.5,2014
33,The Intouchables,8.5,2011
34,The Prestige,8.5,2006
35,The Departed,8.5,2006
36,The Pianist,8.5,2002
37,Gladiator,8.5,2000
38,American History X,8.5,1998
39,The Usual Suspects,8.5,1995
40,Léon,8.5,1994
41,The Lion King,8.5,1994
42,Terminator 2: Judgment Day,8.5,1991
43,Nuovo Cinema Paradiso,8.5,1988
44,Hotaru no haka,8.5,1988
45,Back to the Future,8.5,1985
46,Once Upon a Time in the West,8.5,1968
47,Psycho,8.5,1960
48,Rear Window,8.5,1954
49,Casablanca,8.5,1942
50,Modern Times,8.5,1936
51,City Lights,8.5,1931
52,Capharnaüm,8.4,2018
53,Joker,8.4,2019
54,Kimi no na wa.,8.4,2016
55,Spider-Man: Into the Spider-Verse,8.4,2018
56,Avengers: Endgame,8.4,2019
57,Avengers: Infinity War,8.4,2018
58,Coco,8.4,I) (2017
59,Django Unchained,8.4,2012
60,The Dark Knight Rises,8.4,2012
61,3 Idiots,8.4,2009
62,Taare Zameen Par,8.4,2007
63,WALL·E,8.4,2008
64,The Lives of Others,8.4,2006
65,Oldeuboi,8.4,2003
66,Memento,8.4,2000
67,Mononoke-hime,8.4,1997
68,Once Upon a Time in America,8.4,1984
69,Raiders of the Lost Ark,8.4,1981
70,The Shining,8.4,1980
71,Apocalypse Now,8.4,1979
72,Alien,8.4,1979
73,Tengoku to jigoku,8.4,1963
74,Dr. Strangelove or: How I Learned to Stop Worr...,8.4,1964
75,Witness for the Prosecution,8.4,1957
76,Paths of Glory,8.4,1957
77,Sunset Blvd.,8.4,1950
78,The Great Dictator,8.4,1940
79,Jagten,8.3,2012
80,Inglourious Basterds,8.3,2009
81,Eternal Sunshine of the Spotless Mind,8.3,2004
82,Requiem for a Dream,8.3,2000
83,American Beauty,8.3,1999
84,Good Will Hunting,8.3,1997
85,Toy Story,8.3,1995
86,Braveheart,8.3,1995
87,Reservoir Dogs,8.3,1992
88,Idi i smotri,8.3,1985
89,Aliens,8.3,1986
90,Amadeus,8.3,1984
91,Star Wars: Episode VI - Return of the Jedi,8.3,1983
92,Das Boot,8.3,1981
93,2001: A Space Odyssey,8.3,1968
94,North by Northwest,8.3,1959
95,Vertigo,8.3,1958
96,Singin' in the Rain,8.3,1952
97,Ladri di biciclette,8.3,1948
98,Citizen Kane,8.3,1941
99,M - Eine Stadt sucht einen Mörder,8.3,1931

In [5]:
#Q3. Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) 
#& make data frame.

#User-defined function:
def extract_data(url):
    page=requests.get(url) 
    #print(page)
    soup=BeautifulSoup(page.text,'lxml') 

    #Extract movie name
    header=soup.find_all('td',class_="titleColumn")
    movie_name=[] #Empty list for storage
    for movie_title in header: # Loop to access the list/more text elements
        for j in movie_title.find_all("a"):
            movie_name.append(j.text.replace("\n"," "))   
        
    #Extract year of release
    header=soup.find_all('td',class_="titleColumn")
    yor=[] #Empty list for storage
    for year in header:
        release_year = year.find(class_="secondaryInfo")
        yor.append(release_year.get_text().strip("()"))
    
    #Extract Ratings
    header1=soup.find_all('td',class_="ratingColumn imdbRating")
    ratings=[]
    for rating in header1:
        for j in rating.find_all("strong"):
            ratings.append(j.text)
    
    #print(movie_name,len(movie_name))
    #print(yor,len(yor))
    #print(ratings,len(ratings))
    data={"Movie Name":movie_name,"IMDB Rating":ratings,"Year of release":yor}
    return (data)

#Call function:
#Url
movie_list="https://www.imdb.com/india/top-rated-indian-movies/"
data1=pd.DataFrame(extract_data(movie_list))
pd.set_option("display.max_rows",None)
data1.loc[0:100,:]

                            Movie Name IMDB Rating Year of release
0                      Pather Panchali         8.5            1955
1                              Nayakan         8.5            1987
2                           Anbe Sivam         8.5            2003
3                    Pariyerum Perumal         8.5            2018
4                           Drishyam 2         8.5            2021
5                              Golmaal         8.5            1979
6                          Apur Sansar         8.5            1959
7                    C/o Kancharapalem         8.5            2018
8                            Natsamrat         8.4            2016
9                             Kireedam         8.4            1989
10                    Manichitrathazhu         8.4            1993
11                                  96         8.4            2018
12                        Black Friday         8.4            2004
13                        Thevar Magan         8.4            1992
14                   Kumbalangi Nights         8.4            2019
15                            3 Idiots         8.3            2009
16                          Visaaranai         8.3            2015
17                    Taare Zameen Par         8.3            2007
18                            Ratsasan         8.3            2018
19                              Jersey         8.3            2019
20                          Thalapathi         8.3            1991
21                     Soorarai Pottru         8.3            2020
22                              Dangal         8.3            2016
23                           Devasuram         8.3            1993
24                              Asuran         8.3            2019
25                           Aparajito         8.3            1956
26                              Kaithi         8.3            2019
27                  Jaane Bhi Do Yaaro         8.3            1983
28                              Pyaasa         8.3            1957
29                               Guide         8.3            1965
30                             Peranbu         8.3            2018
31                        Vada Chennai         8.2            2018
32                        Thani Oruvan         8.2            2015
33               Kannathil Muthamittal         8.2            2002
34                       Chupke Chupke         8.2            1975
35                            Spadikam         8.2            1995
36                              Iruvar         8.2            1997
37                        Vikram Vedha         8.2            2017
38                            Drishyam         8.2            2013
39         Agent Sai Srinivasa Athreya         8.2            2019
40                               Aruvi         8.2            2016
41                        Super Deluxe         8.2            2019
42                             Tumbbad         8.2            2018
43                            Mahanati         8.2            2018
44                   Khosla Ka Ghosla!         8.2            2006
45                               Anand         8.2            1971
46                        Pudhu Pettai         8.2            2006
47                              Premam         8.2            2015
48                      Kaakkaa Muttai         8.2            2014
49                             Anniyan         8.2            2005
50                           Andhadhun         8.2            2018
51                      Bangalore Days         8.2            2014
52                           Mudhalvan         8.2            1999
53                           Papanasam         8.2            2015
54              Dhuruvangal Pathinaaru         8.2            2016
55                               Satya         8.2            1998
56                              Shahid         8.2            2012
57                       Soodhu Kavvum         8.2            2013
58                         Jigarthanda         8.1            2014
59                          Pithamagan         8.1            2003
60                  Gangs of Wasseypur         8.1            2012
61                              Sairat         8.1            2016
62                    Paan Singh Tomar         8.1            2012
63                  Bhaag Milkha Bhaag         8.1            2013
64                              Talvar         8.1            2015
65                          Hera Pheri         8.1            2000
66              Swades: We, the People         8.1            2004
67                               Black         8.1            2005
68                              Sholay         8.1            1975
69                  Nil Battey Sannata         8.1            2015
70                         Ustad Hotel         8.1            2012
71                      Chak De! India         8.1            2007
72                           Charulata         8.1            1964
73              Jo Jeeta Wohi Sikandar         8.1            1992
74                            Drishyam         8.1            2015
75                       Mughal-E-Azam         8.1            1960
76            Zindagi Na Milegi Dobara         8.1            2011
77             Maheshinte Prathikaaram         8.1            2016
78                          Article 15         8.1            2019
79                               Udaan         8.1            2010
80                         A Wednesday         8.1            2008
81                               Queen         8.1            2013
82            Theeran adhigaaram ondru         8.1            2017
83                              Masaan         8.1            2015
84                 Munna Bhai M.B.B.S.         8.1            2003
85                       Alai Payuthey         8.1            2000
86                           Sarfarosh         8.1            1999
87                                Roja         8.1            1992
88                      Dil Chahta Hai         8.1            2001
89                              Baasha         8.1            1995
90                     OMG: Oh My God!         8.1            2012
91                     Rang De Basanti         8.1            2006
92   Lagaan: Once Upon a Time in India         8.1            2001
93                             Kahaani         8.1            2012
94                     Andaz Apna Apna         8.1            1994
95            Uri: The Surgical Strike         8.1            2018
96                          Chhichhore         8.1            2019
97                           Virumandi         8.1            2004
98                                  PK         8.1            2014
99                               Iqbal         8.1            2005
100                              Lucia         8.1            2013

In [79]:
#Q4.Python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

#User-defined function:
#Function returns book name,author name,genre.
def extract_data(url):
    page=requests.get(url) 
    #print(page)
    soup=BeautifulSoup(page.text,'lxml') 

    #Extract book name
    header=soup.find_all('h4',class_="italic")
    book_name=[] #Empty list for storage
    for book_title in header: # Loop to access the list/more text elements
        for j in book_title.find_all("a"):
            book_name.append(j.text.replace("\n"," "))   
        
    #Extract author name
    header=soup.find_all('div',class_="flex-article-content")
    aut_name=[] 
    for author in header:
        name=author.find("p",class_="sans bold")
        aut_name.append(name.text.replace("\n",""))
                
    #Extract Genre
    header=soup.find_all('div',class_="flex-article-content")
    genre=[] #Skip this step as list hold first 50 movie names
    for i in header:
        name=i.find("p",class_="genre-links hidden-phone")
        genre.append(name.text.replace("\n",""))
    
    data={"Book Name":book_name,"Author Name":aut_name,"Genre":genre}
    return (data)

#User defined finction to extract book review
def book_review(book):
    page=requests.get(book)
    soup=BeautifulSoup(page.content)
    header=soup.find_all('div',class_="article-body")
    review=[] #Skip this step as list hold first 50 movie names
    for i in header:
        for j in i.find_all("p"):
            review.append(j.text.replace("\n",""))
            data={"Book Review":review}           
    return data

#Call function:

#Top 5 book
book_list="https://bookpage.com/reviews"
book=pd.DataFrame()
data=pd.DataFrame(extract_data(book_list))
book=book.append(data,ignore_index=True)
pd.set_option("display.max_rows",None)
top5_book=book.loc[0:4,:]

#Top 5 book reviews
#Url
book1="https://bookpage.com/reviews/26325-nicola-yoon-instructions-dancing-ya#.YKy1W74zbIU"
book2="https://bookpage.com/reviews/26310-jonathan-balcombe-super-fly-nonfiction#.YKy1iL4zbIU"
book3="https://bookpage.com/reviews/26355-nicole-jarvis-lights-prague-science-fiction-fantasy#.YKy1sL4zbIU"
book4="https://bookpage.com/reviews/26296-nikita-lalwani-you-people-fiction#.YKy17L4zbIU"
book5="https://bookpage.com/reviews/26317-andrew-prahin-ship-bottle-childrens#.YKy2EL4zbIU"

#Call function
data1= pd.DataFrame(book_review(book1))
data2= pd.DataFrame(book_review(book2))
data3= pd.DataFrame(book_review(book3))
data4= pd.DataFrame(book_review(book4))
data5= pd.DataFrame(book_review(book5))

import warnings
warnings.filterwarnings("ignore")
top5_book["Book Review"]= [data1,data2,data3,data4,data5]
top5_book
# Required Output

,Book Name,Author Name,Genre,Book Review
0,★ Instructions for Dancing,Nicola Yoon,YA / YA Fiction,Book ...
1,Super Fly,Jonathan Balcombe,Nonfiction / Science & Nature / Animals,Book ...
2,The Lights of Prague,Nicole Jarvis,Science Fiction & Fantasy / Fantasy / Historic...,Book ...
3,You People,Nikita Lalwani,Fiction / Literary Fiction,Book ...
4,★ Ship in a Bottle,Andrew Prahin,Children's / Children's Picture Book,Book ...

In [83]:
#Check column content in column "Book review" are with respect to book title
print(top5_book["Book Review"][0])
print(top5_book["Book Review"][1])
print(top5_book["Book Review"][2])
print(top5_book["Book Review"][3])
print(top5_book["Book Review"][4])

                                         Book Review
0
1  Evie used to believe in love. She has bookshel...
2  When Evie tries to get rid of her romance nove...
3  Nicola Yoon’s Instructions for Dancing will br...
4  Excellently developed secondary characters add...
5  Yoon delivers this captivating story of first ...
                                         Book Review
0
1  Without flies, there would be no chocolate. Bi...
2  These pollination revelations are just a few a...
3  Balcombe hopes readers will consider “the rang...
4  The author, who’s written four previous popula...
5  But Balcombe is quite serious about flies’ imp...
                                         Book Review
0
1  Nicole Jarvis’ debut fantasy, The Lights of Pr...
2  Set in 19th-century Prague, Jarvis’ careful an...
3  The two protagonists’ paths cross and uncross ...
4  The story unfolds at a measured pace, submergi...
                                         Book Review
0
1  The incident that gives You People its title o...
2  By this point in the novel, we know quite a bi...
3  Born in India and raised in Wales, author Niki...
4  Lalwani’s novel takes the reader under the ski...
                                         Book Review
0
1  Poor Mouse. She lives with Cat, and needless t...
2  One day, Mouse takes her living situation into...
3  Prahin masters the story’s execution on every ...
4  Mouse’s persistence pays off in more ways than...

In [84]:
#Q5.Python program to scrape cricket rankings from ‘www.icc-cricket.com’.
# i)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") 
soup=BeautifulSoup(page.content) 

#Extract team name
header=soup.find_all('td',class_="rankings-block__banner--team-name")
team_name=[] 
for i in header:
    team_name.append(i.text.replace("\n",""))
team_name
header=soup.find_all('td',class_="table-body__cell rankings-table__team")
for i in header:
    team_name.append(i.text.replace("\n",""))
    
#Consolidated team name
final_team=team_name[0:10]
print(final_team)

#Extract matches
#Match for rank=1
header=soup.find_all('td',class_="rankings-block__banner--matches")
match=[] 
for i in header:
    match.append(i.text)

#Points for rank=1
header=soup.find_all('td',class_="rankings-block__banner--points")
point=[] 
for i in header:
    point.append(i.text)

#Rating for rank=1
header=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
rating=[] 
for i in header:
    rating.append(i.text.replace("\n","").strip())

#Matches & Points for rank>1
header=soup.find_all('td',class_="table-body__cell u-center-text")
matches=[]
for i in header:
    matches.append(i.text)

#Ratings for rank>1
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
ratings=[]
for i in header:
    ratings.append(i.text)

#Consolidated match list
final_match=matches[0:18:2]
match=match+final_match
print(match)
#Consolidated points
final_points=matches[1:19:2]
point=point+final_points
print(point)
#Consolidated ratings
rating=rating+ratings[0:9]
print(rating)

df=pd.DataFrame()
df["Team"]=final_team
df["Matches"]=match
df["Points"]=point
df["Ratings"]=rating
df

['New ZealandNZ', 'AustraliaAUS', 'IndiaIND', 'EnglandENG', 'South AfricaSA', 'PakistanPAK', 'BangladeshBAN', 'West IndiesWI', 'Sri LankaSL', 'AfghanistanAFG']
['17', '25', '29', '27', '20', '24', '25', '27', '22', '17']
['2,054', '2,945', '3,344', '3,100', '2,137', '2,323', '2,286', '2,222', '1,692', '1,054']
['121', '118', '115', '115', '107', '97', '91', '82', '77', '62']

             Team Matches Points Ratings
0   New ZealandNZ      17  2,054     121
1    AustraliaAUS      25  2,945     118
2        IndiaIND      29  3,344     115
3      EnglandENG      27  3,100     115
4  South AfricaSA      20  2,137     107
5     PakistanPAK      24  2,323      97
6   BangladeshBAN      25  2,286      91
7   West IndiesWI      27  2,222      82
8     Sri LankaSL      22  1,692      77
9  AfghanistanAFG      17  1,054      62

In [3]:
# ii)Top 10 ODI Batsmen in men along with the records of their team and rating.
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") 
soup=BeautifulSoup(page.content) 

#Extract team name
header=soup.find_all('div',class_="rankings-block__banner--name")
name=[] 
for i in header:
    name.append(i.text.replace("\n",""))

header=soup.find_all('td',class_="table-body__cell name")
names=[] 
for i in header:
    for j in i.find_all("a"):
        names.append(j.text.replace("\n",""))

#Consolidate names
final_names=[]
a=name[0:1]
b=names[0:9]
final_names = a+b
final_names

#Rank1 country & rating
country=[]
header=soup.find_all('div',class_="rankings-block__banner--nationality")
for i in header:
    country.append(i.text.replace("\n","").split())

c=pd.Series(data=country)
f=c[0]+c[1]
county=f[0:1]
rating0=f[1:2]

#Country 2nd liist
country=[]
header=soup.find_all('td',class_="table-body__cell nationality-logo")
for i in header:
    country.append(i.text.replace("\n",""))
country1=country[0:9]
country1

#Rating 2nd liist
rating=[]
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in header:
    rating.append(i.text.replace("\n",""))
rating1=rating[0:9]
rating1

#Consolidate country list
final_country=county+country1

#Consolidate rating list
final_rating=rating0+rating1


player=pd.DataFrame()
player["Name"]=final_names
player["Country"]=final_country
player["Rating"]=final_rating
player

                  Name Country Rating
0           Babar Azam     PAK    865
1          Virat Kohli     IND    857
2         Rohit Sharma     IND    825
3          Ross Taylor      NZ    801
4          Aaron Finch     AUS    791
5       Jonny Bairstow     ENG    785
6         Fakhar Zaman     PAK    778
7  Francois du Plessis      SA    778
8         David Warner     AUS    773
9            Shai Hope      WI    773

In [4]:
# iii) Top 10 ODI bowlers along with the records of their team and rating.
#Extract bowler name
header=soup.find_all('div',class_="rankings-block__banner--name")
name=[] 
for i in header:
    name.append(i.text.replace("\n",""))
name1=name[1:2]

header=soup.find_all('td',class_="table-body__cell name")
names=[] 
for i in header:
    for j in i.find_all("a"):
        names.append(j.text.replace("\n",""))
#Consolidate name
name2=names[9:18]
final_names= name1 + name2
final_names

#Rank-1 country & rating
country=[]
header=soup.find_all('div',class_="rankings-block__banner--nationality")
for i in header:
    country.append(i.text.replace("\n","").split())
country[1]
c=pd.Series(data=country)

f=c[0]+c[1]
county=f[2:3]
rating0=f[3:4]


#Country names rank>1
country=[]
header=soup.find_all('td',class_="table-body__cell nationality-logo")
for i in header:
    country.append(i.text.replace("\n",""))
country[9:18]
country2=country[9:18]

#Consolidated country
final_country=county+country2
final_country

#Rating 2nd list bowler
rating=[]
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in header:
    rating.append(i.text.replace("\n",""))
rating1=rating[9:18]
rating1
#Consolidated bowler list
final_rating=rating0+rating1
final_rating

bowler=pd.DataFrame()
bowler["Name"]=final_names
bowler["Country"]=final_country
bowler["Rating"]=final_rating
bowler

                Name Country Rating
0        Trent Boult      NZ    737
1       Mehedi Hasan     BAN    725
2   Mujeeb Ur Rahman     AFG    708
3         Matt Henry      NZ    691
4     Jasprit Bumrah     IND    690
5      Kagiso Rabada      SA    666
6       Chris Woakes     ENG    665
7     Josh Hazlewood     AUS    660
8  Mustafizur Rahman     BAN    652
9        Pat Cummins     AUS    646

In [7]:
#Q6. Python program to scrape cricket rankings from ‘www.icc-cricket.com’.
# i)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") 
soup=BeautifulSoup(page.content) 

#Extract team name
header=soup.find_all('td',class_="rankings-block__banner--team-name")
team_name=[] 
for i in header:
    team_name.append(i.text.replace("\n",""))
team_name
header=soup.find_all('td',class_="table-body__cell rankings-table__team")
for i in header:
    team_name.append(i.text.replace("\n",""))
    
#Consolidated team name
final_team=team_name[0:10]
print(final_team)

#Extract matches
#Match for rank=1
header=soup.find_all('td',class_="rankings-block__banner--matches")
match=[] 
for i in header:
    match.append(i.text)

#Points for rank=1
header=soup.find_all('td',class_="rankings-block__banner--points")
point=[] 
for i in header:
    point.append(i.text)

#Rating for rank=1
header=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
rating=[] 
for i in header:
    rating.append(i.text.replace("\n","").strip())

#Matches & Points for rank>1
header=soup.find_all('td',class_="table-body__cell u-center-text")
matches=[]
for i in header:
    matches.append(i.text)

#Ratings for rank>1
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
ratings=[]
for i in header:
    ratings.append(i.text)

#Consolidated match list
final_match=matches[0:18:2]
match=match+final_match
print(match)
#Consolidated points
final_points=matches[1:19:2]
point=point+final_points
print(point)
#Consolidated ratings
rating=rating+ratings[0:9]
print(rating)

df=pd.DataFrame()
df["Team"]=final_team
df["Matches"]=match
df["Points"]=point
df["Ratings"]=rating
df

['AustraliaAUS', 'South AfricaSA', 'EnglandENG', 'IndiaIND', 'New ZealandNZ', 'West IndiesWI', 'PakistanPAK', 'BangladeshBAN', 'Sri LankaSL', 'IrelandIRE']
['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']
['2,955', '2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']
['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

             Team Matches Points Ratings
0    AustraliaAUS      18  2,955     164
1  South AfricaSA      24  2,828     118
2      EnglandENG      17  1,993     117
3        IndiaIND      20  2,226     111
4   New ZealandNZ      21  1,947      93
5   West IndiesWI      12  1,025      85
6     PakistanPAK      15  1,101      73
7   BangladeshBAN       5    306      61
8     Sri LankaSL      11    519      47
9      IrelandIRE       2     25      13

In [8]:
# ii)Top 10 ODI Batsmen in women along with the records of their team and rating.
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi") 
soup=BeautifulSoup(page.content) 

#Extract team name
header=soup.find_all('div',class_="rankings-block__banner--name")
name=[] 
for i in header:
    name.append(i.text.replace("\n",""))

header=soup.find_all('td',class_="table-body__cell name")
names=[] 
for i in header:
    for j in i.find_all("a"):
        names.append(j.text.replace("\n",""))

#Consolidate names
final_names=[]
a=name[0:1]
b=names[0:9]
final_names = a+b
final_names

#Rank1 country & rating
country=[]
header=soup.find_all('div',class_="rankings-block__banner--nationality")
for i in header:
    country.append(i.text.replace("\n","").split())

c=pd.Series(data=country)
f=c[0]+c[1]
county=f[0:1]
rating0=f[1:2]

#Country 2nd liist
country=[]
header=soup.find_all('td',class_="table-body__cell nationality-logo")
for i in header:
    country.append(i.text.replace("\n",""))
country1=country[0:9]
country1

#Rating 2nd liist
rating=[]
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in header:
    rating.append(i.text.replace("\n",""))
rating1=rating[0:9]
rating1

#Consolidate country list
final_country=county+country1

#Consolidate rating list
final_rating=rating0+rating1


player=pd.DataFrame()
player["Name"]=final_names
player["Country"]=final_country
player["Rating"]=final_rating
player

                Name Country Rating
0     Tammy Beaumont     ENG    765
1        Lizelle Lee      SA    758
2       Alyssa Healy     AUS    756
3    Stafanie Taylor      WI    746
4        Meg Lanning     AUS    723
5  Amy Satterthwaite      NZ    715
6    Smriti Mandhana     IND    710
7        Mithali Raj     IND    709
8     Natalie Sciver     ENG    685
9    Laura Wolvaardt      SA    683

In [9]:
# iii)Top 10 ODI all-rounder in women along with the records of their team and rating.
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi") 
soup=BeautifulSoup(page.content) 

#Extract team name
header=soup.find_all('div',class_="rankings-block__banner--name")
name=[] 
for i in header:
    name.append(i.text.replace("\n",""))

header=soup.find_all('td',class_="table-body__cell name")
names=[] 
for i in header:
    for j in i.find_all("a"):
        names.append(j.text.replace("\n",""))

#Consolidate names
final_names=[]
a=name[2:3]
b=names[18:27]
final_names = a+b
final_names

#Rank1 country & rating
country=[]
header=soup.find_all('div',class_="rankings-block__banner--nationality")
for i in header:
    country.append(i.text.replace("\n","").split())

c=pd.Series(data=country)
f=c[0]+c[1]+c[2]
county=f[4:5]
rating0=f[5:6]

#Country 2nd liist
country=[]
header=soup.find_all('td',class_="table-body__cell nationality-logo")
for i in header:
    country.append(i.text.replace("\n",""))
country1=country[18:27]
country1

#Rating 2nd liist
rating=[]
header=soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in header:
    rating.append(i.text.replace("\n",""))
rating1=rating[18:27]
rating1

#Consolidate country list
final_country=county+country1

#Consolidate rating list
final_rating=rating0+rating1


player=pd.DataFrame()
player["Name"]=final_names
player["Country"]=final_country
player["Rating"]=final_rating
player

               Name Country Rating
0    Marizanne Kapp      SA    418
1      Ellyse Perry     AUS    418
2   Stafanie Taylor      WI    410
3    Natalie Sciver     ENG    349
4     Deepti Sharma     IND    343
5     Jess Jonassen     AUS    307
6  Ashleigh Gardner     AUS    252
7  Dane van Niekerk      SA    243
8     Sophie Devine      NZ    242
9       Amelia Kerr      NZ    236

In [12]:
# Q7.Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. 
#The scraped data should include Product Name, Price, Image URL and Average Rating.
page=requests.get("https://www.amazon.in/mobile-phones/b/?ie=UTF8&node=1389401031&ref_=nav_cs_mobiles_9292c6cb7b394d30b2467b8f631090a7") 
print(page)
soup=BeautifulSoup(page.content) 

#Unable to scrape due to website error

<Response [503]>

In [11]:
# Q8.Python program to extract information about the local weather from the National Weather Service website of USA, 
#https://www.weather.gov/ for the city, San Francisco. 
#You need to extract data about 7 day extended forecast display for the city. 
#The data should include period, short description, temperature and description.
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YLYcfL4zbIU") 
print(page)
soup=BeautifulSoup(page.content)

#Extract Period
header=soup.find_all('p',class_="period-name")
period=[] 
for i in header:
    period.append(i.text)
    
#Extract short description
header=soup.find_all('p',class_="short-desc")
sdesc=[] 
for i in header:
    sdesc.append(i.text)
    
#Extract temperature high
header=soup.find_all('p',class_="temp temp-high")
th=[] 
for i in header:
    th.append(i.text)

#Extract temperature low
header=soup.find_all('p',class_="temp temp-low")
tl=[] 
for i in header:
    tl.append(i.text)
temp=[th[0],tl[0],th[1],tl[1],th[2],tl[2],th[3],tl[3],th[4]]

#Extract Description
header=soup.find_all('div',class_="col-sm-10 forecast-text")
des=[] 
for i in header:
    des.append(i.text)
ld=des[0:9]
    
weather=pd.DataFrame()
weather["Period"]=period
weather["Short Description"]=sdesc
weather["Temperature"]=temp
weather["Description"]=ld
weather

<Response [200]>

,Period,Short Description,Temperature,Description
0,Today,Mostly Sunnythen Sunnyand Breezy,High: 65 °F,"Sunny, with a high near 65. Breezy, with a wes..."
1,Tonight,Partly Cloudyand Breezythen MostlyCloudy,Low: 52 °F,"Increasing clouds, with a low around 52. Breez..."
2,Wednesday,Mostly Cloudythen MostlySunny andBreezy,High: 64 °F,"Cloudy through mid morning, then gradual clear..."
3,WednesdayNight,Mostly Clearand Breezythen PartlyCloudy,Low: 53 °F,"Partly cloudy, with a low around 53. Breezy, w..."
4,Thursday,Mostly Sunnythen Sunnyand Breezy,High: 66 °F,"Mostly sunny, with a high near 66. Breezy, wit..."
5,ThursdayNight,Mostly Clearand Breezythen PartlyCloudy,Low: 54 °F,"Mostly clear, with a low around 54. Breezy."
6,Friday,Mostly Sunny,High: 66 °F,"Mostly sunny, with a high near 66."
7,FridayNight,Mostly Clear,Low: 52 °F,"Mostly clear, with a low around 52."
8,Saturday,Sunny,High: 68 °F,"Sunny, with a high near 68."

In [17]:
# Q9. Python program to scrape fresher job listings from ‘https://internshala.com/’. 
#It should include job title, company name, CTC, and apply date.
page=requests.get("https://internshala.com/fresher-jobs") 
print(page)
soup=BeautifulSoup(page.content)

#Extract Job Title
header=soup.find_all('div',class_="heading_4_5 profile")
jt=[] 
for i in header:
    jt.append(i.text.strip())

#Extract Company
header=soup.find_all('a',class_="link_display_like_text")
company=[] 
for i in header:
    company.append(i.text.strip())

#Extract CTC & Join date
header=soup.find_all('div',class_="item_body")
ctc=[] 
for i in header:
    ctc.append(i.text.strip())

#Remove string by nan
for i in range(0,len(ctc)):
    if ctc[i]=='Starts\xa0Immediately':
        ctc[i]=np.nan

#COnvert to dataframe & remove NaN values
df=pd.DataFrame()
df["CTC"]=ctc
df.dropna(axis=0,inplace=True)

#Convert dataframe to list
dfn=df.values.tolist()

job=pd.DataFrame()
job["Job Title"]=jt
job["Company"]=company
job["CTC"]=dfn[0:80:2]
job["Start date"]=dfn[1:80:2]
job

<Response [200]>

,Job Title,Company,CTC,Start date
0,Full Stack Developer,Wondermail,[4 - 7 LPA],[1 Jul' 21]
1,Full Stack Developer (MERN),Project Tinker,[4 - 7.2 LPA],[1 Jul' 21]
2,Business Development Executive,Kaizen Academy,[4.5 - 6 LPA],[1 Jul' 21]
3,Sales Development Representative,Amigobulls,[5.5 - 6.5 LPA],[1 Jul' 21]
4,Graphic Designer,Underground Movement LLP,[3 - 5 LPA],[1 Jul' 21]
5,Operations Executive,Alphacore Technologies Private Limited,[3 - 3.5 LPA],[1 Jul' 21]
6,Business Development Executive,Ruhcom Enterprises Private Limited,[3 LPA],[1 Jul' 21]
7,Admission Counselor (Sales),Sky Education Group,[3 LPA],[30 Jun' 21]
8,Sales And Business Development Analyst,Mo's F&B Group,[3 - 3.1 LPA],[30 Jun' 21]
9,Growth Hacking Digital Marketer,Sleep Love,[3 - 3.5 LPA],[30 Jun' 21]
10,Junior Node.js Developer,Askadmissions.ai,[3 - 4 LPA],[30 Jun' 21]
11,Junior Digital Marketing Executive,Krivy,[3 LPA],[30 Jun' 21]
12,iOS App Developer,Ascentspark Software Private Limited,[3.6 - 7 LPA],[30 Jun' 21]
13,Food Journalist,Truffle Nation,[3 - 4.5 LPA],[30 Jun' 21]
14,Junior Software Developer,Habitate Technologies Private Limited,[5.2 - 7 LPA],[30 Jun' 21]
15,Full Stack Developer,SoluLab,[3 - 5 LPA],[28 Jun' 21]
16,Business Analyst,SoluLab,[3 - 4.2 LPA],[28 Jun' 21]
17,Associate Full Stack Developer,REPOZITORY TECHNOLOGIES PRIVATE LIMITED,[3 - 3.6 LPA],[30 Jun' 21]
18,Full Stack Engineer,Beehive Academy India,[4.2 - 8.2 LPA],[28 Jun' 21]
19,Product Marketer,Bip,[3 - 6 LPA],[27 Jun' 21]
20,Business Development Executive,Tabeazy,[3 LPA],[27 Jun' 21]
21,Associate - Business Development,Leverage Edu,[3.6 LPA],[27 Jun' 21]
22,Research Analyst (Economics),DEX-DEFT Research And Consulting OPC Private L...,[3 LPA],[30 Jun' 21]
23,Machine Learning Engineer,AIMonk Labs Technology Limited,[5 - 6.5 LPA],[27 Jun' 21]
24,Business Analyst,Kasper Consulting Private Limited,[3.25 - 4 LPA],[26 Jun' 21]
25,Business Development Executive (Inside Sales),GREedge,[3.75 LPA],[26 Jun' 21]
26,Business Development Associate,PEPKIDZ LEARNING,[3 - 4 LPA],[25 Jun' 21]
27,Full Stack Software Engineer,Flair Labs,[3 - 4 LPA],[25 Jun' 21]
28,Associate Front End Developer,Little Big Things,[3 - 5 LPA],[25 Jun' 21]
29,Talent Acquisition Executive,CrewKarma,[3 - 5 LPA],[24 Jun' 21]
30,Full Stack Developer,Codfirm,[5 - 8 LPA],[24 Jun' 21]
31,Backend Developer,WebMOBI,[3 LPA],[24 Jun' 21]
32,Full Stack Developer,TMBill Software,[3 LPA],[24 Jun' 21]
33,Junior Sales Associate,Kraftshala,[4 LPA],[24 Jun' 21]
34,Digital Marketing Specialist,Black Jack,[3 - 5 LPA],[24 Jun' 21]
35,Android App Developer,Storlyy,[3 - 3.5 LPA],[23 Jun' 21]
36,Associate Data Scientist,Softsensor.ai,[4 - 8 LPA],[24 Jun' 21]
37,Junior Software Developer,ZoryBoard Software Solutions,[3 - 4 LPA],[20 Jun' 21]
38,Associate Software Developer,SNet Labs Private Limited,[3 - 3.2 LPA],[20 Jun' 21]
39,Full Stack Developer,RavGins International Private Limited (Wobb.ai),[3.3 - 4 LPA],[20 Jun' 21]